.btnUnderline{
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}
.btn-secondary{
    background-color: $secondary-color;
    border-radius: 0 !important;
}
.btn-primary{
    background-color: $primary-color;
    border-radius: 0 !important;
}
