.primary-color{
    color: $primary-color !important;
}
.bg-primary-color
{
    background-color: $primary-color !important;
}
.bg-gray-color{
    background-color: #f1f1f1;
}
.bg-white-color{
    background-color: white;
}
.red-color{
    color: $red;
}
