.primary-color{
    color: $primary-color !important;
}
.bg-primary-color
{
    background-color: $primary-color !important;
}
.secondary-color{
    background-color: $secondary-color;
}
.bg-gray-color{
    background-color: #f5f5f5;
}
.bg-white-color{
    background-color: white;
}
.red-color{
    color: $red;
}
