a{
    text-decoration: none;
}
.rotate{
    transform: rotate(180deg) !important;
}
.rotate45{
    display: inline-block;
    transform: rotate(45deg) !important;
}
body{
    background-color: $bg-color;
}
.square{
    aspect-ratio: 1 /1;
}
.bg-image-center{
    background-size: cover;
    background-position: center;
}
