.nav {
    position: static !important;
}
.megamenu-block {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background: white;
    z-index: 1000;
    display: none;
    transition: all 0.3s ease;
}
.has-megamenu {
    &:hover {
        .megamenu-block {
            display: block;
            opacity: 1;
            visibility: visible;
        }
        .nav-link {
            color: $primary-color !important;
        }
    }
}
#header_dropDown_profileMenu{
    z-index: 1002;
    list-style: none;
    width: 200px;
    margin-top: 15px;
    margin-left: -80px;
    li{
        padding: 10px 5px;
        &:hover{
            background-color: rgba($primary-color,0.1);
        }
    }
}
.icon-container {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    i {
        font-size: 24px;
        color: #333;
        transition: color 0.3s;
    }

    &:hover i {
        color: $primary-color;
    }

    .circle-counter {
        position: absolute;
        top: -8px;
        right: -10px;
        background-color: #ff0000;
        color: #ffffff;
        font-size: 11px;
        font-weight: 700;
        min-width: 18px;
        height: 18px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
        border: 2px solid #fff;

    }
}

