.product{
    &_img{
        background-color: white;
        height: 300px;
        width: 100%;
    }
}
.product_like{
    position: absolute;
    top: 5px;
    right: 7px;
    z-index: 200;
    transition: 0.2s;
    i{
        font-size: 25px;
    }
    &:hover {
        transform: scale(1.1);
    }
}
